{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}e-commerce{% endblock %}</title>
</head>
<body>
  <main>
    {% block login %}
        <a href="{% url 'index' %}"><h2>e-commerce</h2></a>
        {% if user.is_authenticated %}
        Ol&aacute;, {{ user.get_username }}! <a href="{% url 'logout' %}">sair</a>
        {% else %}
        <p>Voc&ecirc; presisa fazer <a href="{% url 'login' %}">login</a></p>
        {% endif %}

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    <hr />
    {% endblock %}
    
    {% block orders %}
    {% endblock %}
    
    {% block products %}
    {% endblock %}
    
    {% block stock %}
    {% endblock %}
    
    {% block product %}
    {% endblock %}
  </main>
</body>
</html>