{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}e-commerce core{% endblock %}</title>
</head>
<body>
  <main>
    {% block login %}
        {% if user.is_authenticated %}
        Ol&aacute;, {{ user.get_username }}! <a href="{% url 'logout' %}">sair</a>
        {% else %}
        <p>Voc&ecirc; presisa fazer <a href="{% url 'login' %}">login</a></p>
        {% endif %}

        {% for msg in msgs %}
        <p>{{ msg }}</p>
        {% endfor %}
    <hr />
    {% endblock %}
    
    {% block orders %}
    {% endblock %}
    
    {% block products %}
    {% endblock %}
    
    {% block stock %}
    {% endblock %}
    
    {% block product %}
    {% endblock %}
  </main>
</body>
</html>