<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

{% if user.is_authenticated %}
  Ol&aacute;, {{ user.get_username }}! <a href="{% url 'logout' %}">logout</a>
{% else %}
  <p>Voc&ecirc; presisa fazer <a href="{% url 'login' %}">login</a></p>
{% endif %}

<hr />
<p>seus pedidos</p>
<ol>
{% for order in orders %}
    <p>{{ order }} ({{ order.satus }})</p>
    {% for pick in order.picks.all %}
    <li>{{ pick.product.name }}, $ {{ pick.product.price }} [ {{pick.quantity}} ] [+][-] [<a href="">excluir</a>]</li>
    {% endfor %}
{% endfor %}
<p><a href="">fechar pedido</a></p>
</ol>

<p>produtos:</p>
<ol>
{% for product in products %}
<li>{{ product.name }}, $ {{ product.price }} [ 1 ] [+][-] [<a href="{% url 'comprar' id_pedido=2 id_produto=product.id qtd=7 %}">comprar</a>]</li>
{% endfor %}
</ol>
<hr />
<p>Ol&aacute;, manager</p>
<p>cadastrar produtos | todos os pedidos</p>


{% endblock %}