{% extends 'base_customer.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block orders %}
<hr />
<p>seu pedido <a href="{% url 'orders' %}">(ver seu histórico de pedidos)</a></p>
<ol>
{% for order in orders %}
    <!-- <p>{{ order }} ({{ order.get_status_display }})</p> -->
    {% for item in order.picks.all %}
    <form method="post" action="{% url 'index' %}">{% csrf_token %}
        <li><input type="text" name="name" value="{{ item.product.name }}" disabled> $ <input type="text" name="price" value="{{ item.product.price }}" style="width:50px" disabled><input type="number" name="quantity" value="{{ item.quantity }}" min="0" style="width:50px">
            <input type="hidden" name="pick_id" value="{{ item.id }}"> 
            <input type="submit" name="todo" value="alterar"> ou <input type="submit" name="todo" value="excluir">
        </li>
    </form>
    {% empty %}
        <p>ainda não há itens em seu pedido...</p>
    {% endfor %}
  <p>
    <form method="post" action="{% url 'close' %}">{% csrf_token %}
        <input type="hidden" name="order_id" value="{{ order.id }}"> 
        <input type="submit" name="todo" value="excluir pedido"> <input type="submit" name="todo" value="fechar pedido">
    </form>
  </p>
{% endfor %}
</ol>
{% endblock %}


{% block products %}
<p>nossos produtos:</p>
    <ol>
    {% for product in products %}
        <form method="post" action="{% url 'index' %}">{% csrf_token %}
            <li><input type="text" name="name" value="{{ product.name }}" disabled> $ <input type="text" name="price" value="{{ product.price }}" style="width:50px" disabled><input type="number" name="quantity" value="1" min="1" style="width:50px">
                <input type="hidden" name="user_id" value="{{ user.id }}"> 
                <input type="hidden" name="order_id" value="{{ order_id }}"> 
                <input type="hidden" name="product_id" value="{{ product.id }}">
                <input type="submit" name="todo" value="comprar">
            </li>
        </form>
    {% endfor %}
    </ol>

<hr />
{% comment %}
<p>Ol&aacute;, manager</p>
<p>cadastrar produtos | todos os pedidos</p>
{% endcomment %}

{% endblock %}