{% extends 'base_customer.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block orders %}
<p>seu carrinho <a href="{% url 'order' %}">(ver suas compras anteriores)</a></p>
<ol>
    {% for item in opened_order.items.all %}
    <form method="post" action="{% url 'order-item-update' opened_order.pk item.pk %}">
        {% csrf_token %}
        <li>
            <input type="text" name="name" value="{{ item.product.name }}" disabled>
            $ <input type="text" name="price" value="{{ item.product.price }}" style="width:50px" disabled>
            x <input type="number" name="quantity" value="{{ item.quantity }}" min="0" style="width:50px">
            = <input type="text" name="sub_total" value="{{ item.sub_total }}" style="width:50px" disabled>
            <input type="submit" name="todo" value="alterar">
        </li>
    </form>
    <form method="post" action="{% url 'order-item-update' opened_order.pk item.pk %}">
            {% csrf_token %}
            ou <input type="submit" name="todo" value="excluir">
    </form>
    {% empty %}
        <p>...está vazio...</p>
    {% endfor %}
</ol>

{% if opened_order %}
  <p>
    <form method="post" action="{% url 'order-update' opened_order.pk %}">
        {% csrf_token %}
        valor total da compra: <strong>$ {{ opened_order.total }}</strong>
        <input type="submit" name="todo" value="esvaziar carrinho">
    </form>
    <form method="post" action="{% url 'order-status-update' opened_order.pk 'pending' %}">
        {% csrf_token %}
        <input type="submit" name="todo" value="fechar pedido">
    </form>
  </p>
{% endif %}
<hr />
{% endblock %}


{% block products %}
<p>nossos produtos:</p>
    <ol>
    {% for product in products %}
        <form method="post" action="{% url 'order-update' opened_order.pk|default:0 %}">
            {% csrf_token %}
            <li>
                <input type="text" name="name" value="{{ product.name }}" disabled>
                $ <input type="text" name="price" value="{{ product.price }}" style="width:50px" disabled>
                <input type="number" name="quantity" value="1" min="1" style="width:50px">
                <input type="hidden" name="product_id" value="{{ product.pk }}">
                <input type="submit" name="todo" value="comprar">
            </li>
        </form>
    {% endfor %}
    </ol>

<hr />
{% endblock %}