{% extends 'base_manager.html' %}

{% block orders %}
<p>pedidos pendentes: (<a href="">ver todos os pedidos...</a>)</p>
{% endblock %}

{% block stock %}
<p>produtos em estoque:</p>
    <ol>
    {% for product in products %}
    <form method="post" action="{% url 'index' %}">{% csrf_token %}
        <li><input type="text" name="name" value="{{ product.name }}"> $ <input type="text" name="price" value="{{ product.price }}" style="width:50px">
            <input type="hidden" name="product_id" value="{{ product.id }}">
            <input type="submit" name="todo" value="alterar">
        </li>
    </form>
    {% endfor %}
    </ol>
{% endblock %}

{% block product %}
<p>cadastrar produto</p>
<ul>
<form method="post" action="{% url 'index' %}">{% csrf_token %}
  <li><input type="text" name="name" value="nome"> $ <input type="text" name="price" value="preço" style="width:50px">
     <input type="submit" name="todo" value="cadastrar"></li>
</form>
</ul>
{% endblock %}