{% extends 'base_manager.html' %}

{% block orders %}
<p>pedidos para despachar: (<a href="{% url 'orders' %}">ver todos os pedidos...</a>)</p>
    <ul>
    {% for order in orders %}
      <li><form method="post" action="{% url 'order-status' 'dispatched' order.pk %}">
          {% csrf_token %}
          Pedido [{{ order.id }}] de {{ order.customer.username|title }}.
          total: <strong>$ {{ order.total }}</strong> :: {{ order.get_status_display }} ---
{#          <input type="hidden" name="pk" value="{{ order.pk }}">#}
          <input type="submit" name="todo" value="despachar">
      </form>
        <ul>
        {% for item in order.items.all %}
            <li>{{ item.quantity }} {{ item.product.name }}{{ item.quantity|pluralize }} ({{ item.product.price }}).
                sub total: <strong>$ {{ item.sub_total }}</strong></li>
        {% endfor %}
        </ul>
      </li>
        <br/>
    {% empty %}
        <li>nenhum pedido para despachar...</li>
    {% endfor %}
     </ul>
{% endblock %}

{% block stock %}
<hr />
<p>produtos em estoque:</p>
    <ol>
    {% for product in products %}
    <form method="post" action="{% url 'products' %}">
        {% csrf_token %}
        <li>
            {{ product.form_ }}
            <input type="hidden" name="product_id" value="{{ product.id }}">
            <input type="submit" name="todo" value="alterar">
            ou <input type="submit" name="todo" value="excluir">
        </li>
    </form>
    {% endfor %}
    </ol>
{% endblock %}

{% block product %}
<hr />
<p>cadastrar produto</p>
<ul>
<form method="post" action="{% url 'products' %}">
    {% csrf_token %}
    {{ form }}
     <input type="submit" name="todo" value="cadastrar">
  </li>
</form>
</ul>
{% endblock %}